
<br><br>
<div class="container">
	<div>
		<h2>Users</h2>
		<%= link_to "Add user", new_user_path, :class => 'btn btn-sm btn-success' %> 
	</div><br>
	<table class="table">
	<thead>
    <tr>
    	<th>Id</th>
		  <th>Name</th>
		  <th>Email</th>
		  <th>Mobile</th>
		   <th>Actions</th>
    </tr>
	</thead>
	<tbody>
		<% @users.each do |u| %>
		<tr>
			<td><%= u.id %> </td>
			<td><%= u.name %></td>
		  <td><%= u.email %></td>
		  <td><%= u.mobile %></td>
		  <td>
		   	<%= link_to "Edit", edit_user_path(u.id), class: 'btn btn-sm btn-info' %>

		   	 <%= link_to 'Delete', '#',{:class=>"btn btn-danger btn-sm", "data-toggle"=>"modal", "data-target" => "#delete-#{u.id}"} %>
              <div class="modal fade  " id="delete-<%= u.id %>">
                  <div class="modal-dialog ">
                    <div class="modal-content">
                      <div class="modal-header">
                       <h5>User Delete</h5>
                      </div>
                      <div class="modal-body">
                       <p>Are you sure to delete this User?</p>
                      </div>
                      <div class="modal-footer">
                        <%= link_to 'Delete', user_path(u), method: :delete, :class => 'btn btn-danger btn-sm' %>
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
              </div>	
		   	</td>
		</tr>
		<% end %> 
	</tbody>
</table>

	

</div>


